
.button {
    padding: 12px 16px;
    border-style: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    font-size: 16px;
}

.btn-primary {
    background-color: #ff7f50;
}

.btn-secondary {
    background-color: lightgrey;
}